<div class="container">
  <div class="row">
   <div class="mx-auto">
<h1>マイページ</h1>
<h5><%= @staff.name %></h5>
<h5><%= @staff.email %></h5>
<%= link_to "編集", edit_staff_path(@staff.id) ,class: 'btn btn-secondary'%>
   </div>
  </div>
</div>