<div class="container my-5">
  <div class="row no-gutters">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>会員一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @staffs.each do |staff| %>
            <tr>
              <td><%= staff.id %></td>
              <td class="text-dark">
                <%= staff.name %>
              </td>
              <td><%= staff.email %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <%= link_to "一覧に戻る", admins_customerdetails_index_path ,class: 'btn btn-secondary'%>
    </div>
  </div>
</div>
